{#
 # @version 0.1
 # @author Yannick Lapp <yannick.lapp@cn-consult.eu>
 #}

{# Dialog for the article selection in the create order dialog #}

{% extends "util/dialog.njk" %}

{% set dialogId = "createOrderDialog" %}
{% set dialogTitle ="Neue Bestellung anlegen" %}

{% block dialogBody %}
  <form id="createOrderForm">

    {# Combo boxes #}
    <div class="form-inline" role="form">

      <div class="form-group">
        <label for="customer">Kunde</label>
        <select id="customer" data-column="Kunde"></select>
      </div>

      <div class="form-group">
        <label for="worker">Sachbearbeiter</label>
        <select id="worker" data-column="Vor- und Nachname des Sachbearbeiters"></select>
      </div>

      <div class="form-group">
        <label for="provider">Versandfirma</label>
        <select id="provider" data-column="Lieferant"></select>
      </div>

    </div>

    {# Add Article button #}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="div#addArticleDialog">
      Artikel hinzufügen ...
    </button>

    {# Order Articles list #}
    <table id="orderArticlesTable"></table>


    {# Summary #}
    <div class="form-group">
      <label for="additionalDiscount">Zusatzrabatt:</label>
      <input id="additionalDiscount" class="form-control" type="number" step="0.01" min=0>
    </div>

    <p>Gesamtpreis nach Abzug von Rabatten: <span id="effectivePrice"></span></p>

  </form>

{% endblock %}

{% block dialogFooter %}
    {# Add order button #}
    <button id="saveOrderButton" class="btn btn-primary" type="submit">Bestellung eintragen</button>
{% endblock %}
