
div#orderFilters {
    padding-bottom: 20px;
}

div.orderFilter {
    display: inline-block;
}

input#dateRangeFilter {
    width: 200px;
}

table#resultTable tr td:hover {
    cursor: pointer;
}

div#orderDetailsDialog, div#createOrderDialog {
    display: none;
}
span.ui-dialog-title {
    text-align: center;
}

form#createOrderForm select {
    width: 100%;
}
