<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="UTF-8">
        <title>Web Interface</title>

        <script src="/jquery/jquery-3.3.1.min.js"></script>
        <script src="/javascript/index.js"></script>

    </head>

    <body>
        <header>
            <h1>{{ title }}</h1>
        </header>

        <main>
          <table id="resultTable"></table>
        </main>

    </body>
</html>
