<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="UTF-8">
        <title>Web Interface</title>

        {# jQuery #}
        <script src="/jquery/jquery.min.js"></script>

        {# jQuery UI #}
        <link rel="stylesheet" href="jquery-ui/jquery-ui.min.css">
        <script src="jquery-ui/jquery-ui.min.js"></script>

        {# flatpickr #}
        <link rel="stylesheet" href="flatpickr/flatpickr.min.css">
        <script src="flatpickr/flatpickr.min.js"></script>

        <link rel="stylesheet" href="/css/index.css">
        <script src="/javascript/index.js"></script>

    </head>

    <body>
        <header>
            <h1>{{ title }}</h1>
        </header>

        <main>

          <div id="orderFilters">

            <h2>Ergebnisse filtern</h2>

            <div class="orderFilter">
              <label for="customerFilter">Kunde</label>
              <select id="customerFilter" data-column="Kunde">
              </select>
            </div>

            <div class="orderFilter">
              <label for="workerFilter">Sachbearbeiter</label>
              <select id="workerFilter" data-column="Vor- und Nachname des Sachbearbeiters">
              </select>
            </div>

            <div class="orderFilter">
              <label for="providerFilter">Versandfirma</label>
              <select id="providerFilter" data-column="Lieferant">
              </select>
            </div>

            <div class="orderFilter">
              <label for="dateRangeFilter">Datumsbereich</label>
              <input type="text" id="dateRangeFilter">
            </div>

          </div>

          <table id="resultTable"></table>

          <div id="orderDetailsDialog" title="Bestell-Details">

            <p>BestellNr: <span id="orderId" /></p>
            <table id="orderDetails" />

          </div>

        </main>

    </body>
</html>
