{#
 # @version 0.1
 # @author Yannick Lapp <yannick.lapp@cn-consult.eu>
 #}

{# Includes all external libraries #}


{# Font awesome icons #}
<link rel="stylesheet" href="font-awesome/css/all.min.css">

{# jQuery #}
<script src="jquery/jquery.min.js"></script>

{# jQuery UI #}
<link rel="stylesheet" href="jquery-ui/jquery-ui.min.css">
<script src="jquery-ui/jquery-ui.min.js"></script>

{# flatpickr #}
<link rel="stylesheet" href="flatpickr/flatpickr.min.css">
<link rel="stylesheet" href="flatpickr/themes/dark.css">
<script src="flatpickr/flatpickr.min.js"></script>
<script src="flatpickr/l10n/de.js"></script>

{# Bootstrap, Bootstrap-table and its dependencies #}
<script src="popper-js/popper.min.js"></script>
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<script src="bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="bootstrap-table/bootstrap-table.min.css">
<script src="bootstrap-table/bootstrap-table.min.js"></script>
<script src="bootstrap-table/locale/bootstrap-table-de-DE.min.js"></script>

<link rel="stylesheet" href="select2/css/select2.min.css">
<script src="select2/js/select2.min.js"></script>
<script src="bootstrap-table/extensions/select2-filter/bootstrap-table-select2-filter.min.js"></script>

{# deep-eql (Required for DataFetcher) #}
<script src="deep-eql/deep-eql.js"></script>

{# native toast #}
<link rel="stylesheet" href="native-toast/native-toast.css">
<script src="native-toast/native-toast.min.js"></script>

{# jsPdf #}
<script src="jspdf/jspdf.min.js"></script>
<script src="jspdf-autotable/jspdf.plugin.autotable.min.js"></script>
