{#
 # @version 0.1
 # @author Yannick Lapp <yannick.lapp@cn-consult.eu>
 #}

{# Includes all external libraries #}


{# Utils #}
<script src="javascript/util/DataFetcher.js"></script>
<script src="javascript/util/Dialog.js"></script>
<script src="javascript/util/Utils.js"></script>

{# Table #}
<script src="javascript/util/Table/Filter/Filter.js"></script>
<script src="javascript/util/Table/Filter/DateRangeFilter.js"></script>
<script src="javascript/util/Table/Table.js"></script>

{# Dialogs #}
<script src="javascript/index/Dialog/CreateOrderDialog/Order.js"></script>
<script src="javascript/index/Dialog/CreateOrderDialog/OrderArticle.js"></script>
<script src="javascript/index/Dialog/CreateOrderDialog/OrderArticlesTable.js"></script>
<script src="javascript/index/Dialog/CreateOrderDialog/CreateOrderDialog.js"></script>
<script src="javascript/index/Dialog/AddArticleDialog/AddArticleDialog.js"></script>
<script src="javascript/index/Dialog/StocksWarningsDialog/StocksWarningsDialog.js"></script>

{# OrdersTable #}
<script src="javascript/index/OrdersTable/OrderPdfCreator.js"></script>
<script src="javascript/index/OrdersTable/OrderDetailsTable.js"></script>
<script src="javascript/index/OrdersTable/OrdersTable.js"></script>

{# index.js #}
<script src="javascript/index/index.js"></script>

{# Custom Style #}
<link rel="stylesheet" href="css/index/index.css">